.navbar
  border-radius 0
.margin-top
  margin-top 50px

.orange
  background-color orange

.yellow
  background-color yellow

.green
  background-color green

.gray
  background-color gray
#app
  margin-top 100px
